<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'core/css/bootstrap.min.css'%}">
    <script defer src="{%static 'core/js/bootstrap.bundle.min.js'%}"></script>
    <title>{%block title%}shop{%endblock%}</title>
</head>
<body class="d-flex flex-column" style="min-height: 100vh;">
    {%include 'core/includes/header.html'%}
    <main class="my-4" style="min-height: 70vh;">
        {%block content%} {%endblock%}
    </main>
    {%include "core/includes/footer.html"%}
</body>
</html>