{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Shop | Order {{ product.name }} {% endblock %}

{% block content %}
    <div class="d-flex gap-3 flex-wrap justify-content-center mx-auto"
         style="max-width: 300px;">
        <div class="d-flex flex-column align-items-start text-center border-0 rounded-4 text-nowrap px-4 py-4"
             style="width: min-content; box-shadow: 0 0 5px #00000022;">
            <h1 class="text-wrap">Заказ {{ product.name }}</h1>
            <img width="340px" src="{{product.img.url}}" alt="">
            <!-- Остальной код из детального просмотра продукта -->
            <span class="fs-5">{{ product.desc }}</span>
            <!-- Формируем динамический адрес до той же страницы, на
                 которой мы сейчас находимся, но отправлять будем уже POST-запрос.
                 Адрес должен содержать ID текущего продукта, не забываем об этом. -->
            <form action="{% url 'order_create' product_id=product.id %}"
                  class="d-flex flex-column justify-content-center mx-auto mt-3"
                  method="post">{% csrf_token %}
                <!-- required атрибут не позволит отправить форму пока данный input не будет заполнен. -->
                <input name="delivery_address" type="text"
                       class="form-control"
                       required 
                       placeholder="Адрес доставки">
                <button type="submit"
                        class="btn fs-4 btn-outline-secondary w-100 mt-3">
                    Заказать</button>
            </form>
        </div>
    </div>
{% endblock %}