{% load static %}
<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        logo
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-secondary"><ya-tr-span data-index="18-0" data-translated="true"
              data-source-lang="en" data-target-lang="ru" data-value="Home" data-translation="Главная" data-ch="1"
              data-type="trSpan" style="visibility: inherit !important;">Главная</ya-tr-span></a></li>
        <li><a href="#" class="nav-link px-2 text-white"><ya-tr-span data-index="19-0" data-translated="true"
              data-source-lang="en" data-target-lang="ru" data-value="Features" data-translation="Характеристики"
              data-ch="1" data-type="trSpan" style="visibility: inherit !important;">Характеристики</ya-tr-span></a>
        </li>
        <li><a href="#" class="nav-link px-2 text-white"><ya-tr-span data-index="20-0" data-translated="true"
              data-source-lang="en" data-target-lang="ru" data-value="Pricing" data-translation="Цены" data-ch="1"
              data-type="trSpan" style="visibility: inherit !important;">Цены</ya-tr-span></a></li>
        <li><a href="#" class="nav-link px-2 text-white"><ya-tr-span data-index="21-0" data-translated="true"
              data-source-lang="en" data-target-lang="ru" data-value="FAQs" data-translation="Вопросы и ответы"
              data-ch="1" data-type="trSpan" style="visibility: inherit !important;">Вопросы и ответы</ya-tr-span></a>
        </li>
        <li><a href="#" class="nav-link px-2 text-white"><ya-tr-span data-index="22-0" data-translated="true"
              data-source-lang="en" data-target-lang="ru" data-value="About" data-translation="О нас" data-ch="1"
              data-type="trSpan" style="visibility: inherit !important;">О нас</ya-tr-span></a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-5">
        <input type="search" class="form-control form-control-dark" placeholder="Поиск..." aria-label="Поиск">
      </form>

      <div class="text-end gap-5">
        <nav class="navbar navbar-expand-lg">
          <ul class="navbar-nav mb-2 mb-lg-0 gap-2">
            <li class="nav-item">
              <a class="nav-link py-0 text-white" href="{% url 'catalog' %}">
                Catalog
              </a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="py-0" href="{% url 'profile' %}">
                <img width="20" height="20" style="filter: invert(0.75)" src="{% static 'shop/img/profile.png' %}"
                  alt="profile">
              </a>
            </li>
            <li class="nav-item my-auto">
              <a class="py-0" href="{% url 'signout' %}">
                <img width="24" height="24" style="filter: invert(0.75)" src="{% static 'shop/img/exit.webp' %}"
                  alt="signout">
              </a>
            </li>
            {% else %}
            <li class="nav-item my-auto">
              <a class="btn btn-secondary py-0" href="{% url 'signin' %}">
                Sign In
              </a>
            </li>
            <li class="nav-item my-auto">
              <a class="btn btn-secondary py-0" href="{% url 'signup' %}">
                Sing Up
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>